<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>404</h2>
    <h3>Page not found</h3>
    <a href="/" class="btn">Go to Lobby</a>
  </div>
</header>


<%- include('partials/footer'); -%>