<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Landing Page</h2>
    <h3>Sign in to Play</h3>
    <a href="/lobby" class="btn">Go To Lobby</a>
  </div>
</header>


<%- include('partials/footer'); -%>