<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Lobby</h2>
    <h3>This is protected</h3>
    <a href="/" class="btn">Landing Page</a>
  </div>
</header>


<%- include('partials/footer'); -%>