<!DOCTYPE html>
<html>
  <head>
    <title>Lobby <%= lobbyId %></title>
  </head>
  <body>
    <h1>Welcome to Lobby <%= lobbyId %></h1>

    <!-- List of connected players -->
    <div id="playerList">
      <!-- Players will be listed here dynamically -->
    </div>

    <!-- Start Game button -->
    <button id="startGameButton">Start Game</button>

    <script src="/js/bundle.js"></script> <!-- Include the bundled JavaScript file -->
  </body>
</html>
