<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome <%= name %> to the Game Lobby</h1>

    <!-- Lobby creation button -->
    <button id="createLobbyButton">Create Lobby</button>

    <!-- Join Lobby -->
    <label for="lobbyId">Enter Lobby ID:</label>
    <input type="text" id="lobbyId" placeholder="Enter 6-digit ID">
    <button id="joinLobbyButton">Join Lobby</button>

    <a href="/signup">Create an Account</a>

    <a href="/signin">Login</a>

    <!-- Only include the bundled client-side JS -->
    <script src="/js/bundle.js"></script> <!-- Webpack bundle for client-side logic -->
  </body>
</html>
